<h1>New Weighing</h1>
<script>
    window.onload = initPage;
    function initPage(){
        var d = document.querySelector("input[id='weighing_peso_atual']")
        d.type = 'text'
    }
</script> 
<%= render 'form', weighing: @weighing %>

<%= link_to 'Back', weighings_path %>


